pmnt-comment-tree > pmnt-comment:nth-child(odd) {
    background-color: #f6f6f6;
    input:not([type='submit']) {
        box-shadow: inset 0 0 0 10em #f6f6f6;
        &:focus {
            box-shadow: inset 0 0 0 10em #eaeff6;
        }
    }
    .content-wrapper {
        background-color: #f6f6f6;
        &.active {
            background-color: #eaeff6;
        }
    }
}

pmnt-avatar-item {
    min-height: 6em;
    position: relative;
}

pmnt-avatar {
    width: 5em;
    height: 5em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    box-shadow: 0 0.5em 1.4em rgba(0,0,0,.055);
}

pmnt-content {
    margin-left: 6em;
}

pmnt-entry {
    margin: 0 .5em;
    .upper {
        padding: 0.5em 0;
    }
    a.name {
        font-weight: bold;
        text-decoration: none;
        &:hover, &:active {
            text-decoration: none;
        }
        &[href] {
            color: #00f;
            &:hover {
                color: lighten($color: #00f, $amount: 22%);
                text-decoration: underline;
            }
        }
        span.id {
            display: none;
        }
    }
    span.admin {
        background-color: #9a9a9a;
        color: #fff;
        padding: 0.24em 0.4em;
        border-radius: .25em;
        font-size: 0.9em;
        font-weight: bold;
        user-select: none;
    }
    a.reply-of {
        display: none;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        &:hover {
            color: rgba(0, 0, 0, 0.8);
            text-decoration: underline;
        }
    }
    time {
        margin-left: 1em;
        color: rgba(0, 0, 0, 0.36);
    }
    .text {
        line-height: 1.5em;
        white-space: pre-wrap;
    }
    ul {
        margin: 0;
        margin-top: .5em;
        padding: 0;
        padding-top: .5em;
        padding-bottom: .5em;
        border: 0;
        border-top: .0625rem #ccc dashed;
        li {
            display: inline-block;
            &:not(:nth-child(1)) {
                position: relative;
            }
            &:not(:nth-child(1)):before {
                display: inline-block;
                content: "|";
                width: 1.6em;
                text-align: center;
                color: rgba(0, 0, 0, 0.2);
            }
            a {
                color: #2f90e4;
                text-decoration: none;
                cursor: pointer;
                user-select: none;
                &:hover {
                    color: #85beef;
                    text-decoration: underline;
                }
            }
        }
    }
}

pmnt-comment-nest {
    border-left: #c1c1c1 0.25em solid;
    pmnt-comment {
        background-color: transparent !important;
        pmnt-entry {
            a.reply-of {
                display: inline;
            }
        }
    }
}