div.pmnt-comment-tree > div.pmnt-comment:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
    .info input {
        box-shadow: inset 0 0 0 10em #222;
        &:focus {
            box-shadow: inset 0 0 0 10em #333;
        }
    }
    .content-wrapper {
        background-color: #222;
        &.active {
            background-color: #333;
        }
    }
}

div.pmnt-avatar-item {
    min-height: 6em;
    position: relative;
}

div.pmnt-avatar {
    width: 4em;
    height: 4em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    border-radius: 0.6em;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    box-shadow: 0 0.5em 1.4em rgba(0,0,0,.055);
    .unknown-guy {
        display: none;
        width: 100%;
        height: 100%;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        &:before {
            content: "?";
        }
    }
}

div.pmnt-content {
    margin-left: 5em;
}

div.pmnt-entry {
    margin: 0 .5em;
    .upper {
        padding: 0.3em 0;
        line-height: 1.6em;
    }
    a.name {
        color: #ddd;
        font-weight: bold;
        text-decoration: none;
        &.nameless {
            color: rgba(255, 255, 255, 0.4);
            &:hover, &:active {
                color: rgba(255, 255, 255, 0.4);
                text-decoration: none;
            }
        }
        &:hover, &:active {
            color: #000;
            text-decoration: none;
        }
        &[href] {
            color: #ff9800;
            &:hover {
                color: lighten($color: #ff9800, $amount: 22%);
                text-decoration: underline;
            }
        }
        span.id {
            display: none;
        }
    }
    span.admin {
        background-color: #222;
        color: #777;
        padding: 0.24em 0.4em;
        border-radius: .25em;
        font-size: 0.9em;
        font-weight: bold;
        user-select: none;
    }
    a.reply-of {
        display: none;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
            text-decoration: underline;
        }
    }
    time {
        margin-left: 1em;
        color: rgba(255, 255, 255, 0.36);
    }
    .text {
        line-height: 1.5em;
        white-space: pre-wrap;
    }
    ul {
        margin: 0;
        margin-top: .5em;
        padding: 0;
        padding-top: .5em;
        padding-bottom: .5em;
        border: 0;
        border-top: .0625rem #484848 dashed;
        li {
            display: inline-block;
            &:not(:nth-child(1)) {
                position: relative;
            }
            &:not(:nth-child(1)):before {
                display: inline-block;
                content: "|";
                width: 1.6em;
                text-align: center;
                color: rgba(255, 255, 255, 0.2);
            }
            a {
                color: #2f90e4;
                text-decoration: none;
                cursor: pointer;
                user-select: none;
                &:hover {
                    color: #85beef;
                    text-decoration: underline;
                }
            }
        }
    }
}

div.pmnt-comment-nest {
    border-left: #444 0.25em solid;
    div.pmnt-comment {
        background-color: transparent !important;
        div.pmnt-entry {
            a.reply-of {
                display: inline;
            }
        }
    }
}