pmnt-formbody, pmnt-edit {
    form {
        input, textarea {
            appearance: none;
            display: block;
            border: 0;
            margin: 0.25em;
            font-size: 1em;
            box-sizing: border-box;
            color: #000;
            line-height: 1.5em;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #000;
                font-weight: bold;
                opacity: 0.47;
            }
        }
        .info {
            @media (min-width: 500px) {
                display: flex;
            }
            @media not all and (min-width: 500px) {
                margin: 0 .25em;
            }
            input {
                @media (min-width: 500px) {
                    flex-grow: 1;
                    min-width: 0;
                }
                @media not all and (min-width: 500px) {
                    width: 100%;
                    margin: 0.25em 0;
                }
                padding: 0.3em 0.3em;
                border-bottom: 0.16em solid #e0e0e0;
                box-shadow: inset 0 0 0 10em #fff;
                transition:
                    border-bottom-color 0.17s,
                    box-shadow 0.17s;
                &:focus {
                    border-bottom: .16em solid #4dadfc;
                    box-shadow: inset 0 0 0 10em #f1f9ff;
                }
            }
        }
        .content-wrapper {
            padding: 0.3em 0.3em;
            margin: 0 0.25em;
            border-bottom: 0.16em solid #e0e0e0;
            background-color: #fff;
            transition:
                border-bottom-color 0.17s,
                background-color 0.17s;
            &.active {
                border-bottom: .16em solid #4dadfc;
                background-color: #f1f9ff;
            }
            textarea {
                padding: 0;
                margin: 0;
                width: calc(100% - 0.5em);
                resize: none;
                background-color: transparent;
                margin-top: 0px;
                overflow: hidden;
            }
        }
        button {
            appearance: none;
            padding: 0.5em 1.5em;
            margin: 0.25em;
            margin-top: 0.5em;
            border: 0;
            border-radius: 0.3em;
            color: #fff;
            font-size: 1em;
            font-weight: bold;
            &.submit {
                background-color: #8bc34a;
            }
            &.cancel {
                background-color: #ef5350;
            }
        }
    }
}

pmnt-edit, pmnt-formbody form {
    padding: 0.25em;
}