div.pmnt-formbody {
    form {
        transition: opacity 0.3s;
        &.disabled {
            opacity: 0.4;
        }
        .info input, textarea {
            appearance: none;
            display: block;
            border: 0;
            margin: 0.25em;
            font-size: 1em;
            box-sizing: border-box;
            color: #ddd;
            line-height: 1.5em;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #fff;
                // font-weight: bold;
                opacity: 0.37;
            }
        }
        .info {
            @media (min-width: 500px) {
                display: flex;
            }
            @media not all and (min-width: 500px) {
                margin: 0 .25em;
            }
            input {
                @media (min-width: 500px) {
                    flex-grow: 1;
                    min-width: 0;
                }
                @media not all and (min-width: 500px) {
                    width: 100%;
                    margin: 0.25em 0;
                }
                padding: 0.3em 0.3em;
                border-bottom: .16em solid #444;
                background-color: #222;
                box-shadow: inset 0 0 0 10em #222;
                transition:
                    border-bottom-color 0.17s,
                    background-color 0.17s,
                    box-shadow 0.17s;
                &:focus {
                    border-bottom: .16em solid #555;
                    background-color: #333;
                    box-shadow: inset 0 0 0 10em #333;
                }
            }
        }
        .content-wrapper {
            padding: 0.3em 0.3em;
            margin: 0 0.25em;
            border-bottom: .16em solid #444;
            background-color: #222;
            box-shadow: inset 0 0 0 10em #222;
            transition:
                border-bottom-color 0.17s,
                background-color 0.17s,
                box-shadow 0.17s;
            &.active {
                border-bottom: .16em solid #555;
                background-color: #333;
                box-shadow: inset 0 0 0 10em #333;
            }
            textarea {
                padding: 0;
                margin: 0;
                width: calc(100% - 0.5em);
                resize: none;
                background-color: transparent;
                margin-top: 0px;
                overflow: hidden;
            }
        }
        button {
            appearance: none;
            padding: 0.5em 1.5em;
            margin: 0.25em;
            margin-top: 0.5em;
            border: 0;
            // border-radius: 0.3em;
            color: #fff;
            font-size: 1em;
            font-weight: bold;
            transition: opacity 0.3s, background-color 0.3s, box-shadow 0.3s;
            &.submit {
                background-color: darken($color: #29b6f6, $amount: 9%);
                box-shadow: 0 0 0.6em 0 rgba(0, 134, 195, 0);
                &:focus {
                    outline: none;
                    background-color: darken(#0086c3, $amount: 9%);
                    box-shadow: 0 0 0.6em 0 rgba(0, 134, 195, 0.55);
                }
            }
            &.cancel {
                background-color: darken(#f44336, $amount: 9%);
                box-shadow: 0 0 0.6em 0 rgba(186, 0, 12, 0);
                &:focus {
                    outline: none;
                    background-color: darken(#ba000d, $amount: 9%);
                    box-shadow: 0 0 0.6em 0 rgba(186, 0, 12, 0.55);
                }
            }
        }
        div.receive-email {
            display: inline-block;
            margin-left: 0.5em;
            line-height: 2em;
            .magic-checkbox:checked+label:before {
                border: 1px solid darken($color: #3e97eb, $amount: 0);
            }
            .magic-checkbox+label:after {
                width: 7.5px;
                height: 14px;
            }
            .magic-checkbox+label:before, .magic-radio+label:before {
                top: 4px;
                transition: background-color 0.2s, border 0.2s;
            }
            .magic-checkbox+label:after {
                top: 6px;
            }
        }
    }
}

div.pmnt-edit, div.pmnt-formbody form {
    padding: 0.25em;
}