pmnt-formbody {
    form {
        .info {
            display: flex;
            input {
                appearance: none;
                display: block;
                flex-grow: 1;
                border: 0;
                border-bottom: 0.16em solid #e0e0e0;
                margin: 0.25em;
                padding: 0.3em 0.3em;
                font-size: 1em;
                box-sizing: border-box;
                color: #000;
                box-shadow: inset 0 0 0 10em #fff;
                transition: border-bottom-color 0.17s, box-shadow 0.17s;
            }
            input:focus {
                outline: none;
                box-shadow: inset 0 0 0 10em #f1f9ff;
                border-bottom: .16em solid #4dadfc;
            }
            input::placeholder {
                color: rgba(0, 0, 0, 0.47);
                font-weight: bold;
                // transition: color 0.17s;
            }
            // input:focus::placeholder {
            //     color: rgba(0, 0, 0, 0);
            // }
        }
    }
}