& {
    font-size: 0.875em;
    font-family: "lucida grande",
        "lucida sans unicode",
        "Helvetica Neue",
        "Tahoma",
        "PingFang SC",
        "Hiragino Sans GB",
        "Source Han Sans CN Normal",
        "Heiti SC",
        "Microsoft YaHei",
        "WenQuanYi Micro Hei",
        "SimSun",
        sans-serif;
    box-shadow: 0 0 1.4rem 0.2rem rgba(0, 0, 0, .052);
}